#input:focus {
    border: 3px solid green;
}
.error {
    border-color: red;
}
.span {
    border: 4px solid green;
    color: green;
}
button {
    margin-left: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #f56b00;
    background:
            linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
            linear-gradient(135deg, #f56b00 0%,#f56b00 43%,#fff 45%,#fff 55%,#f56b00 57%,#f56b00 100%);
}